@model List<HolaMundo.Models.Peliculas>

@{
    ViewData["Title"] = "Home Page";
    string nombre = "jose";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @*<p>@nombre</p>*@
    @*<h4>@Model.Titulo</h4>
    <h5>Duración: @Model.Duracion</h5>
    <h5>Publicación: @Model.Publicacion</h5>
    <h5>Filmado en: @Model.Pais</h5>*@

    <table class="table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Duración</th>
                <th>País</th>
                <th>Lanzamiento</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pelicula in Model)
            {
                <tr>
                    <td>@pelicula.Titulo</td>
                    <td>@pelicula.Duracion</td>
                    <td>@pelicula.Pais</td>
                    <td>@pelicula.Publicacion.ToString("dd/MM/yyyy")</td>
                </tr>
            }
        </tbody>
    </table>

</div>
